/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



.zip-borders {
  fill: #688C5B;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#zip-borders :hover {
  fill: red;
}

.line{
	fill: none;
	stroke-width: 3px;
	stroke: black;
}