/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
	background-color: #ADC0C6;
}


.zip-borders {
	fill: #688C5B;
	stroke: #fff;
	stroke-width: .2px;
	stroke-linejoin: round;
	stroke-linecap: round;
}
.state :hover {
	fill: #FCFBED;
}

.line{
	fill: none;
	stroke-width: 3px;
	stroke: black;
}

.background {
  fill: none;
  pointer-events: all;
}